.wrapper {
    width: 250px;
    .thumbnail__wrapper {
        background: lightgray;
        height: 150px;
        border-radius: 5px;
        margin-bottom: 15px;
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
        }
        .btn__whishlist {
            position: absolute;
            right: 10px;
            top: 10px;
            background: none;
            border: none;
            img {
                width: 20px;
            }
        }
    }
    .content {
        .metadata {
            font-size: 17px;
            display: flex;
            justify-content: space-between;
            b {
                font-weight: 600;
            }
            p {
                margin-bottom: 10px;
                font-weight: 300;
            }

            &__right{
                display: flex;
                align-items: flex-start;
                img{
                    width: 40%;
                }
                p{
                    padding: 3px;
                }
            }
        }
        .rate {
            width: 25%;
            text-align: right;
            span {
                font-size: 11px;
            }
        }
    }
}