.overlay {
    position: fixed;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    background: #00000063;
}
  
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    width: 40%;
    padding: 20px;
    border-radius: 4px;
    color: white;
}
  
  