.header {
    position: fixed;
    background-color: white;
    z-index: 999;
    width: 100%;
    padding: 15px 0px;
    &__main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #e2e1e1ab;
        padding-bottom: 20px;
    }
    &__logo {
        img {
            width: 120px;
            padding-right: 90px;
        }
    }
    &__menu {
        .nav__list {
            display: flex;
            list-style: none;
            .nav__item {
                display: flex;
                button {
                    font-weight: bolder;
                    font-size: 15px;
                    background: transparent;
                    border:0px;
                    cursor: pointer;
                    text-align: center;
                    border-radius: 40px;
                    transition: box-shadow 0.2s ease;
                    padding: 10px;
                    &:hover {
                        background-color: #EBEBEB;
                    }
                    img{
                        width: 50%;
                    }
                    ul{
                        display: flex;
                    }
                }
            }
        }
    }
    &__filter{
        padding-top: 20px;
        padding-bottom: 10px;
        display: flex;
        .nav__list{
            display: flex;
            list-style: none;
            justify-content: space-around ;
            .nav__item{
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                    font-size: 10px;
                }
                img{
                    width: 30%;
                    padding-bottom: 10px;
                }
                .nav__filter{
                    display: flex;
                    align-items: center;
                    border-radius: 10px;
                    border: 1px solid black;                    
                    img{
                        width: 25%;
                        padding-right: 10px;
                    }
                    p{
                        font-size: 15px;
                    }
                    img{
                        padding: 10px;
                    }
                }
            }
        }
    }
    .form{
        &__filter{
            p{
                font-size: 30px;
                font-weight: 500;
                padding-bottom: 20px;
            }
        }
        &__input{
            display: flex;
            justify-content: space-around;
            padding-bottom: 30px;
        }
    }
    .modalAccount{
        padding: 10px;
        border-radius: 20px;
        &:hover{
            background-color: #EBEBEB;
        }
    }
}