.overlay {
    position: fixed;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
}
  
.modal {
    z-index: 10;
    position: absolute;
    top: 70%;
    left: 89%;
    transform: translate(-50%, -50%);
    background: white;
    width: 10%;
    padding: 20px;
    border-radius: 20px;
    color: black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid #e2e1e1ab;
}
  
  